@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../lib/fonts/glyphicons-halflings-regular.eot');
  src: url('../lib/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../lib/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
       url('../lib/fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('../lib/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../lib/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
:root {
    --temaBg:#6c757d!important;
    --temaColor: white;
}

::-webkit-scrollbar {
  width:  5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff0000;
}
::-webkit-scrollbar-thumb:active {
  background: #ff0000;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/*Klaslar*/
.bg-Gri{background: #e9ecef}
/*Klaslar*/

/*Bootstrap reset*/
.row {
    margin-left: -9px;
    margin-right: -9px;
}
[class^="col-"],.container,.container-fluid {
    padding-left: 9px!important;
    padding-right: 9px!important;
}
/*Bootstrap reset.*/

body{overflow-y: scroll;letter-spacing: -1px}
.bolumBaslik .p-2{background: var(--temaBg);color: var(--temaColor);font-size: medium }
.bolumBaslik hr{background: var(--temaBg);height: 1px;margin-top: 1px}
.bgTema{background: var(--temaBg)!important}
.slayder,header{background: url('../img/global/slayderBg.png')}
.kategoriMenu ul ul{display: none}

